/*调整边距*/
.inblk {
  display: inline-block;
}
.pb10 {
  padding-bottom: 10px;
}
.mb5 {
  margin-bottom: 20px;
}
.mb20 {
  margin-bottom: 20px;;
}
/*修改组件样式*/
a:-webkit-any-link {
  text-decoration: none;
}
a:-webkit-any-link:hover {
  color: #409EFF;
}
.slider .el-tooltip.el-slider__button  {
  width: 10px;
  height: 10px;
  background-color: #409EFF;
}
/*定义组件样式*/
/* 修改Element UI的默认CSS */
.el-submenu__title:hover{
    background: linear-gradient(to left, #7c8ce4, #2196f3);
}
.el-menu-item:hover {
    // background: linear-gradient(to left, #7c8ce4, #2196f3);
    // background-color: rgb(204, 204, 204);
    background: black;
}
.el-breadcrumb{
    padding: 10px;
    font-size: 12px;
    color:#999;
  }
.el-breadcrumb-item{
    color:#999;
    font-size:50%;
}
.el-timeline-item__wrapper {
    height: 90px;
}
.el-timeline-item__tail {
    border-left: 5px solid #6495ED !important;
}
.video-js .vjs-tech {
    padding-bottom: 40px;
}
.video-js .vjs-control-bar {
    height: 40px !important;
    background-color: #000 !important;
}
.vjs-button > .vjs-icon-placeholder:before {
    color: red;
    font-size: 2.0em !important;
}
.video-js .vjs-play-progress {
    background-color: red !important;
}

.video-js .vjs-big-play-button, .vjs-icon-placeholder:before {
    /*
     播放按钮换成圆形
    */
   height: 2em !important;
   width: 2em !important;
   line-height: 2em !important;
   border-radius: 1em !important;
//    margin: auto;
}
img {
    border-radius: 8px;
}
.el-button-group>.el-button:not(:last-child) {
    margin-right: 90px !important;
}
a:link, a:hover, a:visited {
    color: #545C63;
}
.related-video-box a:link, 
.related-video-box a:visited {
    font-size: 14px;
    color: rgba(255,255,255,.6);
}
.related-video-box a:hover {
    color: #fff !important;
}

